// Colors
$primary: #392ae1;
$secondary: #212c41;
$tertiary: #fff;

* {
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

body {
  color: $secondary;

  // background-position: center;
  width: 1220px;
  margin: 0 auto;

  section {
    background: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #dfe6f8;
    background-position: top;

    .text {
      color: #a19fbd;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: -0.9px;
    }

    .container {
      padding: 20% 0;
      // padding: 15% 10%;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        text-align: center;
        width: 30%;
        justify-content: space-around;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0 7px 11px -7px rgba(0, 0, 0, 0.5);
        overflow: hidden;

        .title {
          letter-spacing: -1.5px;
          margin: 7px 0;
        }
        .description {
          padding: 0 10% 5% 10%;
        }

        .hero-img {
          height: 200px;
          width: 100%;
          background: url("../images/illustration-hero.svg");
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;

          // background-position: top;
        }

        .price-box {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 80%;
          background-color: #f8f9fe;
          padding: 15px;
          margin-bottom: 28px;
          border-radius: 7px;

          .subscription {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .subscription-method {
              font-weight: 700;
              letter-spacing: -0.5px;
            }
            .subscription-value {
              font-weight: 600;
            }
          }

          .change:link {
            font-size: 0.8rem;
          }
        }

        .cancel:link {
          text-decoration: none;
          font-weight: 700;
        }

        .btn {
          width: 80%;
          align-self: center;
          background-color: $primary;
          font-size: 0.8rem;
          font-weight: 600;
          color: $tertiary;
          // text-shadow: inset 0 0 0 0 rgba(56, 42, 225, 0.5px);
          box-shadow: 0 13px 20px -4px rgba(56, 42, 225, 0.3px);
          text-shadow: 1px 1px white, -2px -2px primary;
          border: none;
          padding: 12px 10px;
          border-radius: 7px;
          margin-bottom: 20px;
        }

        .cancel {
          padding-bottom: 40px;
        }
      }
    }
  }
}
