// Colors
$primary: #392ae1;
$secondary: #212c41;
$tertiary: #fff;

* {
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

body {
  color: $secondary;
  margin: 0 auto;

  section {
    background: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #dfe6f8;
    height: 100vh;

    .text {
      color: #a19fbd;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 22px;
    }

    .container {
      padding: 7% 0;
      width: 340px;
      margin: auto;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        text-align: center;
        justify-content: space-around;

        border-radius: 15px;
        box-shadow: 0 14px 29px -10px rgba(56, 42, 225, 0.3px);
        overflow: hidden;

        .title {
          letter-spacing: -1.5px;
          margin: 7px 0;
        }
        .description {
          padding: 0 10% 5% 10%;
        }

        .hero-img {
          height: 200px;
          width: 100%;
          background: url("../images/illustration-hero.svg");
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .price-box {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 80%;
          background-color: #f8f9fe;
          padding: 15px;
          margin-bottom: 28px;
          border-radius: 7px;

          .subscription {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .subscription-method {
              font-weight: 700;
              letter-spacing: -0.5px;
            }
            .subscription-value {
              font-weight: 600;
            }
          }

          .change:link {
            font-size: 0.8rem;
          }
        }

        .cancel:link {
          text-decoration: none;
          font-weight: 700;
          font-size: 0.8rem;
        }

        .btn {
          width: 80%;
          align-self: center;
          background-color: $primary;
          font-size: 0.8rem;
          font-weight: 600;
          color: $tertiary;
          box-shadow: 0 13px 20px -4px rgba(56, 42, 225, 0.3px);
          text-shadow: 1px 1px white, -2px -2px primary;
          border: none;
          padding: 12px 10px;
          border-radius: 7px;
          margin-bottom: 22px;

          &:hover {
            background-color: #766cf1;
          }
        }

        .cancel {
          padding-bottom: 40px;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
  @media (max-width: 1100px) {
    width: auto;
  }

  @media (max-width: 420px) {
    margin: 0 0;
    width: auto;
    section {
      background: url("../images/pattern-background-mobile.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: #dfe6f8;

      .container {
        width: 90%;
        padding: 16% 0;
      }
    }
  }
}
